.Home {
  &__card {
    width: auto;
    height: 255px;
    margin: 21px 0 0 0;
    position: relative;
    & img {
      object-fit: cover;
      height: 100%;
      width: 100%;
      border-radius: 10px;
    }
    & figcaption {
      position: absolute;
      top: 189px;
      left: 20px;
      width: 80%;
    }
  }
}
