.carousel {
  width: auto;
  height: 255px;
  position: relative;
  margin: 0;
  & img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
  }
  & figcaption {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
    & p {
      position: absolute;
      margin: 50px 0 0 0;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }
  &__arrows {
    display: flex;
    justify-content: space-between;
    & button {
      padding: 0;
      background-color: transparent;
      border: none;
      & img {
        transform: scale(0.3);
      }
    }
  }
}

@media (min-width: 768px) {
  .carousel {
    height: 300px;
    & figcaption {
      & p {
        margin: 70px 0 0 0;
      }
    }
  }
}

@media (min-width: 1024px) {
  .carousel {
    height: 415px;
    & figcaption {
      & p {
        margin: 120px 0 0 0;
      }
    }
    &__arrows {
      & button {
        padding: 0 20px;
        & img {
          transform: scale(0.8);
        }
      }
    }
  }
}
