.dropdown {
  &-title {
    display: flex;
    justify-content: space-between;
    background-color: $primary-color;
    margin-top: 25px;
    padding: 9px;
    border-radius: 5px;
    & p {
      margin: 0;
    }
    & button {
      padding: 0;
      border: none;
      background-color: transparent;
      scale: 0.7;
      transform: rotate(180deg);
    }
  }
  &-description {
    padding: 15px;
    margin: 0;
  }
}

@media (min-width: 1024px) {
  .dropdown {
    &-title {
      padding: 12px 20px;
      border-radius: 10px;
      & button {
        scale: 1;
      }
    }
  }
}
