@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

.header {
  &__nav {
    & ul {
      & a {
        text-decoration: none;
        & li {
          font-family: "Montserrat", sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 142.6%;
          color: $primary-color;
        }
      }
    }
  }
}

.home {
  &__block {
    &-banner {
      & h1 {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 100%;
        color: #ffff;
      }
    }
  }
}

.card {
  & figcaption {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 142.6%;
    color: rgb(255, 255, 255);
  }
}

.carousel {
  & p {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    color: white;
  }
}

.error {
  color: $primary-color;
  & h1 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 142.6%;
  }
  & p {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
  }
  & a {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 142.6%;
    color: $primary-color;
  }
}

.dropdown {
  &-title {
    & p {
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 142.6%;
      color: white;
    }
  }
  &-description {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 142.6%;
    color: $primary-color;
  }
}

.footer {
  &__all {
    &-rights {
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 142.6%;
      color: #ffff;
    }
  }
}
