.home {
  width: 89.5%;
  margin: 0 auto 40px;
  min-height: 65%;
  &__block {
    &-banner {
      width: auto;
      height: 111px;
      margin: 0;
      position: relative;
      background-color: black;
      border-radius: 10px;
      & h1 {
        top: 50%;
        transform: translate(0, -50%);
        left: 19px;
        width: 66%;
        position: absolute;
        margin: 0;
      }
    }
  }
  &__banner {
    object-fit: cover;
    object-position: 95% 100%;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    opacity: 0.8;
  }
}

@media (min-width: 425px) {
  .home {
    &__banner {
      object-fit: none;
      object-position: 70% 80%;
    }
  }
}

@media (min-width: 1024px) {
  .home {
    &__banner {
      object-fit: cover;
      border-radius: 25px;
    }
    &__block {
      &-banner {
        height: 223px;
        border-radius: 25px;
        & h1 {
          width: fit-content;
          white-space: nowrap;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
    &__container {
      &-cards {
        margin: 30px auto 0 auto;
        width: 90%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .home {
    &__container {
      &-cards {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}
